#Netbeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

#Intellij
.idea/
*.iml
*.iws

#iOS
.DS_Store
.DS_Store?
._*

#Other
/FDPM-SERVER/nbproject/private/
/FDPM-SERVER/web/WEB-INF/glassfish-resources.xml
/FDPM-SERVER/src/conf/persistence.xml
/FDPM-SERVER/nbproject/project.xml