#Netbeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/FDPM/nbproject/private/
/FDPM-SERVER/nbproject/private/
/FDPM-SERVER/web/WEB-INF/glassfish-resources.xml
/FDPM-SERVER/src/conf/persistence.xml