:root {
  /* Layout */
  --header: #414141;
  --footer: #414141;
  /* Header */
  --header-link: #FFF;
  --header-link-hover: #D6F9DD;
  /* Section */
  --main-content-link: #414141;
  --main-content-link-hover: #000;
  /* Footer */
  --footer-text: #FFF;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  font-family: "Lucida Console", Monaco, monospace;
  display: grid;
  grid-template-areas: "head"
                       "section"
                       "foot";
  grid-template-rows: 70px auto 30px;
}

/* HEADER */
header {
  grid-area: head;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--header);
}

.header-navigation {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

/* Header navigation link colors */
.header-navigation > a:link {
  color: var(--header-link);
}

.header-navigation > a:visited {
  color: var(--header-link);
}

.header-navigation > a:hover {
  color: var(--header-link-hover);
}

/* FDPM logo and its colors */
.header-logo {
  padding-left: 50px;
  font-size: 2em;
}

.header-logo > a:link {
  color: var(--header-link);
}

.header-logo > a:visited {
  color: var(--header-link);
}

.header-logo > a:hover {
  color: var(--header-link-hover);
}

/* SECTION */
section {
  grid-area: section;
}

/* FOOTER */
footer {
  grid-area: foot;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--footer);
}

footer > p {
  color: var(--footer-text);
  font-size: 12px;
}

/* OTHER */
a:link {
  text-decoration: none;
}
