:root {
  --aside: #CCDFCB;
  --aside-content-link: #414141;
  --aside-content-link-hover: #000;
  --section-content-link: #414141;
  --section-content-link-hover: #000;
}

.section {
  height: 100%;
  margin-left: 5%;
  display: grid;
  grid-template-areas: "content aside";
  grid-template-columns: 75% 25%;
}

.section-text-margin {
  margin-left: 5%;
}

/* CONTENT */
.section-content {
  grid-area: content;
}

.section-content a:link {
  color: var(--section-content-link)
}

.section-content a:visited {
  color: var(--section-content-link)
}

.section-content a:hover {
  color: var(--section-content-link-hover)
}

/* ASIDE */
.section-aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--aside);
 }

.aside-tab {
  display: flex;
  justify-content: flex-start;
}

.aside-content {
  display: flex;
  flex-direction: column;
}

.aside-content a:link {
  color: var(--aside-content-link)
}

.aside-content a:visited {
  color: var(--aside-content-link)
}

.aside-content a:hover {
  color: var(--aside-content-link-hover)
}
