
.color-container {
    text-align: justify;
    width: 600px;
    /*position: relative;*/
}

.colorpicker {
    background-color: #222222;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 2px 2px 2px #444444;
    color: #FFFFFF;
    font-size: 12px;
    position: fixed;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    /*position: absolute;
    left: 180px;
    top: 40px;*/
}

#picker {
    cursor: crosshair;
    margin: 10px;
    border: 0;
    position: relative;
}

.preview {
    border-radius: 3px;
    border: solid 1px;
    box-shadow: 2px 2px 2px #444444;
    cursor: pointer;
    height: 50px;
    width: 140px;
}
