/* PAGE COLORS */

:root {
  /* Layout colors*/
  --header-color: #0F1626;
  --section-color: #FFF;
  --footer-color: #AB987A;
  /*Header colors*/
  --header-logo: #F5F5F5;
  --header-link: #F5F5F5;
  --header-link-hover: #3a3a3a;
  /*Section colors*/
  --button-color: #FF533D;
  --font-color: #FFF;
}


/* PAGE LAYOUT */

html {
  height: 100%;
}

body {
  margin: 0;
  height: inherit;
  font-family: "Lucida Console", Monaco, monospace;
  display: grid;
  grid-template-areas: "head"
                       "section"
                       "foot";
  grid-template-rows: 15% 75% 10%;
}

.grid-header {
  grid-area: head;
  background-color: var(--header-color);
}

.grid-section {
  grid-area: section;
  background-color: var(--section-color);
}

.grid-footer {
  grid-area: foot;
  background-color: var(--footer-color);
}


/* HEADER LAYOUT */

#flex-header {
  padding-left: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#header-nav {
  width: 70%;
  display: flex;
  justify-content: space-around;
}


/* SECTION LAYOUT */

section {
  margin-left: 5%;
}

.typing-area {
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 20px;
}

textarea {
  border: 1px solid black;
  margin-bottom: 15px;
}

/* buttons */

.button {
  background-color: var(--button-color);
  color: var(--font-color);
  border: 1px solid white;
  border-radius: 4px;
  padding: 5px;
  font-size: 0.9em;
}


/* FOOTER LAYOUT */

#flex-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* FONTS AND FONT COLORS */

a:link {
  text-decoration: none;
}

#header-nav a:link {
  color: var(--header-link);
}

#header-nav a:visited {
  color: var(--header-link);
}

#header-nav a:hover {
  color: var(--header-link-hover);
}

#header-logo {
  color: var(--header-logo);
}
