/* PAGE COLORS */

:root {
  --header-color: #EFEFEF;
  --section-color: #FFF;
  --footer-color: #A9A9A9;

  --header-logo: #000;
  --header-link: #000;
  --header-link-hover: #3a3a3a;

  #FF3B3F /*watermelon*/
  #CAEBF2 /*sky*/
  #A9A9A9 /*carbon*/
  #EFEFEF /*neutral*/
}


/* PAGE LAYOUT */

html {
  height: 100%;
}

body {
  margin: 0;
  height: inherit;
  font-family: Arial, sans-serif;
  display: grid;
  grid-template-areas: "head"
                       "section"
                       "foot";
  grid-template-rows: 15% 75% 10%;
}

.grid-header {
  grid-area: head;
  background-color: var(--header-color);
}

.grid-section {
  grid-area: section;
  background-color: var(--section-color);
}

.grid-footer {
  grid-area: foot;
  background-color: var(--footer-color);
}


/* HEADER LAYOUT */

#flex-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#main-header {
  display: flex;
  justify-content: flex-start;
}

#main-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}


/* FOOTER LAYOUT */

#flex-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* FONTS AND FONT COLORS */

a:link {
  text-decoration: none;
}

#main-header {
  color: var(--header-logo:);
}

#main-nav a:link {
  color: var(--header-link);
}

#main-nav a:hover {
  color: var(--header-link-hover);
}
