.section-slideshow {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 8% 84% 8%;
    padding: 10%;
}

.customers {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 1fr 1fr 1fr;
}

.boxitem {
    margin: 10px auto;
}
