:root {
  --customer-box: #D9E7E0;
  --customer-box-hover: #CFF1C1;
  --section-slideshow-link: #000;
  --section-slideshow-link-hover: #000;
  --slideshow-button: #D9E7E0;
}

/* Slideshow layout */
.section-slideshow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 5%;
}

/* Area for all customers */
.customers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Area for one customer only */
.customers > a {
  height: 400px;
  width: 250px;
  margin: 10px;
  border-radius: 20px;
  background-color: var(--customer-box);
  box-shadow: 1px 1px 3px black;
}

.customers > a > div {
  padding: 30px;
}

.customers > a:hover {
  background-color: var(--customer-box-hover);
}

/* Slideshow buttons */
.section-slideshow > button {
  padding: 5px;
  border: 1px solid var(--slideshow-button);
  box-shadow: 1px 1px 2px black;
  background-color: var(--slideshow-button);
  font-size: 0.9em;
}

/* Customer information link colors */
.section-slideshow a:link {
  color: var(--section-slideshow-link);
}

.section-slideshow a:visited {
  color: var(--section-slideshow-link);
}

.section-slideshow a:hover {
  color: var(--section-slideshow-link-hover);
}
