:root{
 --info-box-background: #F5F5F5;
 --button-delete: #FF6A5C;
}

.info-header{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-right: 10%;
}

.infobox{
    display: grid;
    height: 20em;
    width: auto;
    max-width: 70em;
    background-color: var(--info-box-background);
    padding: 1em;
    grid-template-rows: 20% 20% 60%;
    grid-template-columns: 100%;
    grid-template-areas:"name "
                        "email"
                        "desc";
    grid-gap: 0.5em;
}

.info-container{
    background-color:white;
    padding:0.5em;
    overflow: hidden;
    word-wrap: break-word;
    border: solid 1px #5E5E5E;
    font-size: 0.7em;
    font-weight: bold;
}

#name-info{
    grid-area: name;
}

#mail-info{
    grid-area: email;
}

#desc-info{
    grid-area: desc;
    word-wrap: break-word;
    overflow-y: scroll;
    max-height: 126px;
}

p{
    font-weight: normal;
}

.button-view-customer {
  padding: 5px;
  border: 1px solid #D9E7E0;
  box-shadow: 1px 1px 2px black;
  background-color: #D9E7E0;
  font-size: 0.9em;
  margin-left: 2em;
  width: 60px;
}