/* VIEW ALL COLORS SECTION*/

.all-colors {
    min-width: 100%;
    background-color: #F5F5F5;
}


/* Flexbox for palette*/
.color-container-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    
    
}

/*one whole color card*/
.color-card {
    background-color: #fff;
    height: 11.5em;
    width: 8.25em;

    border: solid 0.05em #D3D3D3;
    overflow: hidden;
    
}

/*color area in cord*/
.color {
    background-color: lightsalmon;
    height: 8.25em;
    width: inherit;
}

/*color card information part*/
.color-info{
    line-height: 0.1em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    font-size: 0.65em;
    word-wrap: break-word;
    overflow: inherit;
}

/*name part of color info*/
.color-info-name {
    font-weight: bold;
    font-size: 1.08em;
    word-wrap: inherit;

}

/*pantone code part of color info*/
.color-info-pantone {
    font-size: inherit;
    word-wrap: inherit;

}

/*hex code part of color info*/
.color-info-hex {
    font-size: inherit;
    word-wrap: inherit;
}
