.view-material{
    background-color: #FFF;
}

.material-window{
    
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: 50% auto;
    grid-template-areas: "img products"
                         "name products";    
    min-width: 100%;
    margin: 2em;
    grid-gap: 1em;
    font-size: 0.8em;
    word-wrap: break-word;
    overflow: hidden;
}

.content-cell{
    
    font-weight: bold;
    background-color:#F5F5F5;
    
    padding: 1em;
    border: solid 1px #DCDCDC
}

#material-name{
    grid-area: name;
}

#used-in-products{
    grid-area:products;
}
#material-image{
    grid-area: img;
    display: block;
}

img{
    max-width: 100%;
    max-height: 100%;
}

.text-field{
    font-weight: normal;
}