html {
    margin: 0;
    background-image: url("../Materials/IMG/background_img.jpg");
    height: 100%;
    background-position: center;
    background-size: cover;
    font-size: 16px;
}


.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
    background-color: #e3e6e2;
    opacity:0.8;
    border-radius: 0.9rem;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}


.card {
    background-color: #F7F7F7;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
#title{
    font-family: "Great Vibes", cursive;
    font-size: 1.8rem;
    text-align: center;
    font-weight: bold;

}
.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    background-color: #ff5843;
    padding: 0;
    font-weight: 700;
    font-size: 1rem;
    color: white;
    height: 3rem;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 0.25rem;
    border: none;
    transition: all 0.218s;
    text-align:center;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: #ff0e0c;
    cursor:pointer;
}

.forgot-password {
    color: #3F68A2;
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: #103161;
}

input{
    background-color: #ffffa8;
}

a:link{
    text-decoration: none;
    font-size:1.1rem;
}