html {
    margin: 0;
    background-image: url("../Materials/IMG/background_img.jpg") !important;
    height: 100%;
    background-position: center;
    background-size: cover;
    font-size: 16px;
}


#title_1{
    font-family: 'Indie Flower', cursive;
    font-size:3rem;
    font-weight:bold;
    text-align: center;
    margin-right: 25rem;
    margin-top: 20rem;
}

#title_2{
    font-family: 'Indie Flower', cursive;
    font-size:3rem;
    font-weight:bold;
    text-align: center;
    margin-right: 25rem;
    margin-top:3rem;
}

.title{
    margin: 0 auto 50px;
    margin-top: 50px;
}


.dropbtn {
    background-color:transparent;
    color: black;
    padding: 1.3rem;
    margin-left:5rem;
    font-size: 1.3rem;
    border: none;
    font-weight: bold;
    text-align: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    margin-left:5rem;
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: bold;
    font-size:1.1rem;
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #ddd;
    cursor: pointer;
}