html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  display: grid;
  grid-template-areas: "head"
                       "section"
                       "foot";
  grid-template-rows: 20% 70% 10%;
}

body > .grid-header {
  grid-area: head;
  background-color: #caccaa;
}

body > .grid-section {
  grid-area: section;
  background-color: #faffaa;
}

body > .grid-footer {
  grid-area: foot;
  background-color: #eaeeaa;
}
